.container {
    background-color: #ffe7ce;
    height: 100vh;
    overflow: hidden;

    display: grid;
    place-items: center;
}

.foodCard {
    width: 45%;
    height: auto;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    display: grid;

    grid-auto-rows: minmax(2rem, 10rem) minmax(0, auto) auto;

    box-shadow: 0 0.2rem 0.6rem 0rem rgba(0,0,0,0.2), 0 0.1rem 0.2rem 0rem rgba(0,0,0,0.2);


    &.expand > &__description {

        font-size: 1.7rem;
    }

    grid-gap: 1rem;
    padding: 1.2rem;

    border: 1px solid black;

    &__image {
        display: block;
        //images should fill container
        width: 100%;
        height: auto;
        max-width: 10rem;
        max-height: 10rem;
        // margin: 0 auto;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // margin-left: 10px;
    }

    &__info-box {        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // border: 1px solid black;
        grid-column: 2 / 6;

        padding: 0 1.5rem;
        box-shadow: 0 0rem 0.2rem rgba(0,0,0,.4);
    }
    &__info-item {
        flex: 0 0 50%;

        &--who {
            text-align: right;
        }

        &--location {
            text-align: right;
        }
    }


    &__name {
        margin: 0;

        flex: 0 0 50%;
    }

    &__quantity {

    }

    &__who {
        margin: 0;
        flex: 0 0 50%;
        text-align: right;
    }

    &__what {
        margin: 0;
        flex: 0 0 50%;
    }

    &__location {
        margin: 0;

    }

    &__description{
        font-size: 0rem;
        transition: all .2s;
        overflow: hidden;
        max-height: 100%;
        padding: 1rem;

        flex: 0 0 50%;
        grid-column: 1 / 6;
        grid-row: 2 / 3;


        font-weight: 300;
        line-height: 1.6;

    }

    &__button {
        height: 3.2rem;
        grid-row: 3 / 4;
    }
}